modules = ["java-graalvm22.3", "python-3.12", "bash"]
run = "sudo"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "sudo"]

[workflows]
runButton = "Start Embedded Service"

[[workflows.workflow]]
name = "Start Embedded Service"
author = 44525175
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd vgs-application/scripts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x *.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-embedded.sh"

[[workflows.workflow]]
name = "Start Transaction Index Service"
author = 44525175
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd vgs-application/scripts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x *.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-transaction.sh"

[[workflows.workflow]]
name = "Run Load Tests"
author = 44525175
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd benchmark-testing"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "locust -f locustfile.py --host=http://0.0.0.0:5000 --users=100 --spawn-rate=10 --run-time=2m --headless"

[[workflows.workflow]]
name = "Start All VGS Services"
author = 44525175
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd vgs-application/scripts"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x *.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start-all.sh"
